* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#drum-machine {
  padding: 1.5rem;
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.drumpad-section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 7px;
}

.drum-pad {
  background-color: rgba(168, 168, 168, 0.2);
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 1.5rem;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}

.drum-pad:hover {
  background-color: rgba(168, 168, 168, 0.9);
}

#display {
  text-align: center;
  font-size: 3rem;
  margin: 1.5rem;
  color: white;
}
